html
	head
		title= "Food Finder Results"
		link(rel="stylesheet", href="./style.css")
	body
		div.header
			img(src="./emblem.png")
			h2= "Find the most recommended dishes at new restaurants"

		div.info-form
			h1 And the results are in...
			h2 The most popular dishes at #{restaurant_name} (in order of ranking) are:
			

			ol
				each item in [0, 1, 2]
					li= results[item]
				else
					li Everything! (Nobody left any recommendations)