h1 {
    color: blue;
}

p {
	color: red;
}

body {
	background-color: #f1f1d4;
}

.header img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

h2 {
	text-align: center;
}

input, label {
	display: block;
}

label {
	font-weight: bold;
	font-size: 20px;
}

input[type=text] {
	border: 2px solid red;
	border-radius: 4px;
	width: 400px;
}

.form-name {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

.form-addr {
	float: left;
}

button {
	background-color: #f1f1d4;
	border: none;
	cursor: pointer;
	float: left;
	margin-left: 10px;
	
}

.info-form {
	margin: 0 auto;
	width: 500px;
}
